In [2]:
print(8+2)

10

In [3]:
print("hello pal")

hello pal

In [8]:
num1=(int(input("enter first number")))
num2=(int(input("enter second number")))
choose = (input("enter what you want to doo +  -  /  * "))

if choose == "+":
    result = num1 + num2
elif choose == "-":
    result = num1-num2
elif choose == "*":
    result = num1*num2
elif choose == "/":
    if num1 >0:
        result = num1/num2
    else:
        print("number error")
else:
    print("error")
print(result)

number error
-0.2

In [25]:
age = (int(input("enter your age")))


if age < 5:
    print("your ticket is free")
elif age<13:
     student = (input("are you student yes/no"))
     if student == "yes":
       print("your ticket price is 15rs")
     else:
       print("you priice is 25rs")
elif age<=18:
       print("you priice is 30rs")
else:
       print("you priice is 50rs")

you priice is 30rs

In [44]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [40]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [50]:
for i in range(5):
    for j in range(4):
            print(f"i:{i} j:{j}")

i:0 j:0
i:0 j:1
i:0 j:2
i:0 j:3
i:1 j:0
i:1 j:1
i:1 j:2
i:1 j:3
i:2 j:0
i:2 j:1
i:2 j:2
i:2 j:3
i:3 j:0
i:3 j:1
i:3 j:2
i:3 j:3
i:4 j:0
i:4 j:1
i:4 j:2
i:4 j:3

In [52]:
sum = 0

for i in range(11):
    sum = sum + i
print(sum)

55

In [ ]:
for num in range(2, 101):       # 1) try numbers 2..100
    for i in range(2, num):     # 2) test divisors 2..num-1
        if num % i == 0:        # 3) if divisible by i, not prime
            break
    else:                       # 4) ran out of divisors with no break
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [63]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

print("Loop finished")

1
2
Loop finished

In [60]:
print(6%4)

2

In [46]:
count = 0

while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [18]:
fruits = ["apply","kiwi","watermalan","banana","cherry"]
# fruits.append("pal")
# fruits.remove("banana")
# fruits.pop()
# fruits[1:4]
fruits.sort()
fruits[2]="pal"
fruits

['apply', 'banana', 'pal', 'kiwi', 'watermalan']

In [3]:
number=(1,2,3,4,5,6)
pal,*prasant,meet,deep=number
print(pal)
print(prasant)
print(meet)
print(deep)

1
[2, 3, 4]
5
6

In [ ]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))


for sub in nested_tuple:
    for item in sub:
        print(item,end=" ")
    print()

1 2 3
a b c
True False